DATABASE_URL="postgresql://USUARIO:SENHA@HOST.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USUARIO:SENHA@HOST.pooler.supabase.com:5432/postgres"

JWT_SECRET="chave_example"

GOOGLE_CLIENT_ID="seu_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="seu_client_secret"
GOOGLE_REFRESH_TOKEN="seu_refresh_token"
GOOGLE_DRIVE_FOLDER_ID="id_da_pasta_raiz_no_drive"

FRONTEND_URL="http://localhost:5173"
PORT=3333